[Unit]
Description=Del Mar Cams
After=network.target systemd-udevd.service
Wants=dev-video0.device dev-video1.device
# Could add more dependencies, like bindsTo, but we want to keep running if at all possible

[Service]
Type=simple
User=nvidia
WorkingDirectory=/home/nvidia
ExecStart=/home/nvidia/dmargstream
TimeoutStopSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
